/* INTEGRANTES
Moises Contreras C.I: 30.405.571
Adrian Duin C.I.: 29.896.041
David Peña C.I. 30.304.373
Frangher Pereira C.I. 30.553.759
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  font-family: sans-serif;
}

header {
  width: 100%;
  background-image: linear-gradient(to right,#7DDA58,#FFDE59,#FE9900,#E4080A,#BFD641); /* Color de fondo del menú */
}

#btn-menu {
  display: none;
}

header label {
  display: none;
  width:  30px;
  height: 30px;
  padding: 10px;
  border-right: 1px solid #fff;
}

header label:hover {
  cursor: pointer;
  background: rgba(0,0,0,0.3);
}

.nav-menu ul {
  margin: 0;
  list-style: none;
  display: flex;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.nav-menu li {
  border-right: 1px solid #fff;
}

.nav-menu li:hover {
  background: rgba(0, 0, 0, 0.3);
}

.nav-menu li a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

img {
  width: 100%;
}


@media (max-width: 1550px) {
  header label {
      display: block;
  }
  .nav-menu {
      position: relative;
      background: #ffc107;
      width: 70%;
      margin-left: -70%;
      transition: all 0.5s;

  }
  .nav-menu ul {
      flex-direction: column;
  }
  .nav-menu li{
      border-top: 1px solid #fff;
  }

  #btn-menu:checked ~ .nav-menu {
      margin: 0;
  }
}

/*Sección desplegable del menu*/



/*fin Sección desplegable del menu*/

/* Estilos básicos para el carrusel no animado*/
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner {
  height: 100vh;
}

.carousel-item {
  height: 100vh;
}

.carousel-item img {
  object-fit: cover; /* Mantiene la relación de aspecto y cubre el área del contenedor */
  width: 100%; /* Ocupa el 100% del ancho del contenedor */
  height: auto; /* Ajusta la altura automáticamente para mantener la relación de aspecto */
  max-height: 100vh; /* Limita la altura máxima a la altura de la ventana */
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

@media (max-width: 768px) {
  .carousel-item {
    height: 50vh; /* Ajusta la altura en pantallas más pequeñas */
    width: 50vh; /* Ajusta la anchura en pantallas más pequeñas */
  }
  .carousel-item img {
    height: 50vh; /* Ajusta la altura en pantallas más pequeñas */
    width: 50vh; /* Ajusta la anchura en pantallas más pequeñas */
  }
  .carousel-inner {
    height: 50vh; /* Ajusta la altura en pantallas más pequeñas */
    width: 50vh; /* Ajusta la anchura en pantallas más pequeñas */
  }
  .carousel-caption{
    height: 30vh; /* Ajusta la altura en pantallas más pequeñas */
    width: 30vh; /* Ajusta la anchura en pantallas más pequeñas */
  }
  .mask{
    height: 50vh; /* Ajusta la altura en pantallas más pequeñas */
    width: 50vh; /* Ajusta la anchura en pantallas más pequeñas */
  }
}

@media (min-width: 768px) {
  .carousel-item img {
    height: 100vh; /* Mantiene la altura completa en pantallas grandes */
  }
}

/* fin de estilos del carrusel no animado*/

/* Estilos para el footer */
.footer {
  position: relative;
  width: 100%;
  background: #fc4700;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer ul {
  list-style: none; /* quita los puntos de la lista */
  margin: 0; /* quita el margen */
  padding: 0; /* quita el padding */
  display: flex; /* hace que los elementos se muestren en línea */
  justify-content: center; /* distribuye los elementos en línea */
}

footer li {
  margin-right: 20px; /* espacio entre los elementos */
}

footer a {
  color: #337ab7; /* texto azul */
  text-decoration: none; /* quita el subrayado */
}

footer a:hover {
  color: #23527c; /* texto azul oscuro al pasar el mouse */
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px 5px;
  flex-wrap: wrap;
}

.icon-elem {
  list-style: none;
}

.icon {
  color: #fff;
  font-size: 32px;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin: 0 10px;
  opacity: 0.65;
  transition: 0.5s;
}

.icon:hover {
  transform: translateY(-10px);
  opacity: 1;
  color: #fff;
}

.menu {
  list-style: none;
  padding: 0;
  display: flex; /* Hace que los elementos se muestren en línea */
  flex-wrap: wrap; /* Permite que los elementos se ajusten a la siguiente línea si no hay suficiente espacio */
  justify-content: center; /* Distribuye los elementos en línea */
}

.menu li {
  margin: 5px; /* Espacio entre los elementos */
  padding: 10px; /* Espacio interno */
  flex: 1 1 auto; /* Permite que los elementos crezcan y se encojan según el espacio disponible */
  min-width: 100px; /* Ancho mínimo para cada elemento */
  text-align: center; /* Centra el texto dentro de cada elemento */
}

@media (max-width: 768px) {
  .menu li {
    flex: 1 1 100%; /* Cada elemento ocupará el 100% del ancho en pantallas pequeñas */
  }
}
/*fin de los estilos para el footer*/